<%= @client.name %>

<%= form_tag("/clients/#{@client.id}", method: "patch") do %>
  <div>
      <input type="text" name="name" value="<%= @client.name %>">    
    </div>

  <label for="phone"> Phone </label>
    <div>
      <input type="text" name="phone" value="<%= @client.phone %>">    
    </div>

  <label for="email"> Email </label>
    <div>
      <input type="text" name="email" value="<%= @client.email %>">    
    </div>

    <div>
      <input type="submit" value="Edit Your Info">
    </div>
<% end %>

<br><br>

<h4>Want to Delete Your EthiCapital Account?</h4>
<%= form_tag("/clients/#{@client.id}", method: :delete, data: {confirm: "Are you sure you want to delete your account?"} ) do %>
  <input type="submit" value="This will delete your Account!">
<% end %>