 <div class="ms-hero-page-override ms-hero-img-coffee ms-bg-fixed ms-hero-bg-primary">
        <div class="container">
          <div class="text-center mt-2">
            <h1 class="color-white mt-4 animated fadeInUp animation-delay-10"><%= @client.name %></h1>
            <h3 class="color-medium no-mb animated fadeInUp animation-delay-10"><%= @client.email %></h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card card-hero card-primary animated fadeInUp animation-delay-7">
          <div class="card-header-100 bg-primary-dark">
            <div class="row">
              <div class="col-sm-2 col-xs-4 col-sm-offset-3">
                <div class="item">
                  <span><%= Invitation.where(client_id: @client.id).where(status: "pending").count %></span>Pending Invitations </div>
              </div>
              <div class="col-sm-2 col-xs-4">
                <div class="item">
                  <span><%= Proposal.where(client_id: @client.id).where(status: "pending").count %></span>Pending Proposals </div>
              </div>
              <div class="col-sm-2 col-xs-4">
                <div class="item">
                  <span><%= Proposal.where(client_id: @client.id).where(status: "signed").count %></span>Signed Proposals </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card-block">
                <h2 class="color-primary no-mb">Personal Information</h2>
              </div>
              <table class="table table-no-border table-striped">
                <tr>
        <% if current_client || @is_clients_advisor %>
            <% if current_client %>      
              <td><a href="/clients/<%= @client.id %>/edit">Edit Your Information</a></td>
            <% end %>
                </tr>
                <tr>
                  <th>
                    <i class="zmdi zmdi-face mr-1 color-warning"></i> Fullname</th>
                  <td><%= @client.name %></td>
                </tr>
                <tr>
                  <th>
                    <i class="zmdi zmdi-email mr-1 color-primary"></i> Email</th>
                  <td>
                    <a href="#"><%= @client.email %></a>
                  </td>
                </tr>
                <tr>
                  <th>
                    <i class="zmdi zmdi-link mr-1 color-danger"></i> Phone</th>
                  <td><%= @client.phone %></td>
                </tr>
                <tr>
                  <th>
                    <i class="zmdi zmdi-calendar mr-1 color-info"></i> Member Since</th>
                  <td><%= (@client.created_at).strftime("%m/%d/%Y") %></td>
                </tr>
              </table>
            </div>
            <div class="col-md-4">
              <div class="card-block">
            <% if current_client %>  
                <h2 class="color-primary">For All Advisors</h2>
                <h4>Please <a href="/advisors">Click Here</a></h4>
            <% end %>
                <div class="media mb-3 hidden">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="holder.js/64x64?theme=social"> </a>
                  </div>
                  <div class="media-body">
                    <h4 class="no-m">
                      <a href="#">Lorem ipsum dolor sit</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="media mb-3 hidden">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="holder.js/64x64?theme=lava"> </a>
                  </div>
                  <div class="media-body">
                    <h4 class="no-m">
                      <a href="#">Lorem ipsum dolor sit</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="media mb-3 hidden">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="holder.js/64x64?theme=sky"> </a>
                  </div>
                  <div class="media-body">
                    <h4 class="no-m">
                      <a href="#">Lorem ipsum dolor sit</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-block">
        <% if current_client %>
                <h2 class="color-primary">Advisors</h2>
                <div class="ms-media-list">
                  <div class="media">
                    <div class="media-left media-middle">
                      <a href="#">
                    <% if @advis1 && current_client%><img class="media-object" src="<%= @advis1.logo %>"> </a>
                    <% end %>
                    </div>
                    <% if @advis1 && current_client %>
                    <div class="media-body">
                      <h4 class="media-heading color-warning"><%= @advis1.name %></h4>
                      <a href="advisors/<%= @advis1.email %>"><%= @advis1.email %></a>
                      <div class="">
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook">
                          <i class="zmdi zmdi-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter">
                          <i class="zmdi zmdi-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram">
                          <i class="zmdi zmdi-instagram"></i>
                        </a>
                      </div>
                    </div>
                  <% end %>
                  </div>
                  <div class="media">
                  <% if @advis2 && current_client %>
                    <div class="media-left media-middle">
                      <a href="#">
                        <img class="media-object" src="<%= @advis2.logo %>"> </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading color-warning"><%= @advis2.name %></h4>
                      <a href="/advisors/<%= @advis2.id %>"><%= @advis2.email %></a>
                      <div class="">
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook">
                          <i class="zmdi zmdi-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter">
                          <i class="zmdi zmdi-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram">
                          <i class="zmdi zmdi-instagram"></i>
                        </a>
                      </div>
                    </div>
                  <% end %>
                  </div>
                  <div class="media">
                    <% if @advis3 && current_client %>
                    <div class="media-left media-middle">
                      <a href="#">
                        <img class="media-object" src="<%= @advis3.logo %>"> </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading color-warning"><%= @advis3.name %></h4>
                      <a href="/advisors/<%= @advis3.id %>"><%= @advis3.email %></a>
                      <div class="">
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook">
                          <i class="zmdi zmdi-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter">
                          <i class="zmdi zmdi-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram">
                          <i class="zmdi zmdi-instagram"></i>
                        </a>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
            <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
        <% end %>
      
<script src="/assets/js/plugins.min.js"></script>
<script src="/assets/js/app.min.js"></script>