<h3>All Invitations</h3>

<% @invitations.each do |invitation| %>
  <% if current_advisor %>
    <p>Client Name: <%= (Client.find_by(id: invitation.client_id)).name %></p>
    <p>Client_id: <%= invitation.client_id %></p>    
    <p>Status: <%= invitation.status %></p>
    <a href="/invitations/<%= invitation.id %>/edit">Edit/Delete this Invitation</a>
  <% elsif current_client %>
    <%= image_tag(Advisor.find_by(id: invitation.advisor_id).logo, :class => "advisor_logo") %>
    <p>Advisor Name: <%= (Advisor.find_by(id: invitation.advisor_id)).name %></p>
    <p>Advisor_id: <%= invitation.advisor_id %></p>
    <p>Status: <strong><%= invitation.status %></strong></p>
   
    <% if invitation.status.downcase == "pending" %>
      <%= form_tag("/invitations/#{invitation.id}", method: "patch") do %>
        <div class="hidden">
          <input type="text" name="advisor_id" value="<%= invitation.advisor_id %>">
          <input type="text" name="client_id" value="<%= invitation.client_id %>">
        </div>
        <div>
          <button type="submit"><input class="hidden" type="text" name="status" value="accepted">Accept this Invitation</button>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <hr>
<% end %>

<% if current_advisor %>
  <a href="/invitations/new"><h4>Create a New Invitation</h4></a>
<% end %>

