<h3>All Invitations</h3>

<% @invitations.each do |invitation| %>
  <% if current_advisor %>
    <p>Client Name: <%= (Client.find_by(id: invitation.client_id)).name %></p>
    <p>Client_id: <%= invitation.client_id %></p>    
    <p>Status: <%= invitation.status %></p>
    <a href="/invitations/<%= invitation.id %>/edit">Edit/Delete this Invitation</a>
  <% elsif current_client %>
    <p>Advisor Name: <%= (Advisor.find_by(id: invitation.advisor_id)).name %></p>
    <p>Advisor_id: <%= invitation.advisor_id %></p>
    <p>Status: <%= invitation.status %></p>
   
    <% if invitation.status.downcase == "pending" %>
      <%= form_tag("/invitations/#{invitation.id}", method: "patch") do %>
      <label for="status"> Accept This Invitation </label>
         <div class="hidden">
          <input type="text" name="advisor_id" value="<%= invitation.advisor_id %>">
          <input type="text" name="client_id" value="<%= invitation.client_id %>">
         </div>
  
         <div>
          <input type="submit" name="status" value="accepted">    
        </div>

        <% end %>
      <a href="#">Accept this Invitation</a>
    <% end %>
  <% end %>
  
  <hr>
<% end %>

<% if current_advisor %>
  <a href="/invitations/new"><h4>Create a New Invitation</h4></a>
<% end %>

