<div class="container container-fluid">
<% if current_advisor && @invitations.empty? %>
  <h3>Haven't Sent any Invitations yet?</h3>
    <p>Click <a href="/invitations/new">here</a> and enter the client's EthiCapital ID</p>
  <br> 
  <h3>Have an existing client not signed up with EthiCapital?</h3>
    <p>Send them to <ab= href="/signup_client">www.ethicapital.io/signup_client</a></p>
    <p>Once they're registered have them send you their EthiCapital ID</p>
    <p>Enter their Id <a href="/invitations/new">here</a></p>
    <p>They will receive your invitation and, once they accept, you can begin the proposal process</p>

<% elsif current_client && @invitations.empty? %>
  <h3>Don't have an invitation yet?</h3>
    <p>Send your advisor to <a href="/invitations/new">www.ethicapital.io/invitations/new</a></p>
    <p>Have them enter your EthiCapital ID (which is: <%= current_client.id %>)</p>
    <p>Once they've entered your ID, you'll receive an invitation here!</p>

<% else %>
  <h2 class="centered_text">Your Invitations</h2>
  <% if current_advisor %>
    <a href="/invitations/new"><h4>Create a New Invitation</h4></a>
  <% end %>
  <br>
  <% @invitations.each_slice(3) do |invitation3| %>
    <div class="row">
      <% invitation3.each do |invitation| %>
          <% if current_advisor %>
            <div class="col-md-4 well">
              <p>Client Name: <%= (Client.find_by(id: invitation.client_id)).name %></p>
              <p>Client_id: <%= invitation.client_id %></p>    
              <p>Status: <%= invitation.status %></p>
              <a href="/invitations/<%= invitation.id %>/edit">Edit/Delete this Invitation</a>
            </div>
          <% elsif current_client %>
            <div class="col-md-4 well">
              <%= image_tag(Advisor.find_by(id: invitation.advisor_id).logo, :class => "advisor_logo") %>
              <br><br>
              <p>Advisor Name: <%= (Advisor.find_by(id: invitation.advisor_id)).name %></p>
              <p>Advisor_id: <%= invitation.advisor_id %></p>
              <p>Status: <strong><%= invitation.status %></strong></p>
             
              <% if invitation.status.downcase == "pending" %>
                <%= form_tag("/invitations/#{invitation.id}", method: "patch") do %>
                  <div class="hidden">
                    <input type="text" name="advisor_id" value="<%= invitation.advisor_id %>">
                    <input type="text" name="client_id" value="<%= invitation.client_id %>">
                  </div>
                  <div>
                    <button type="submit"><input class="hidden" type="text" name="status" value="accepted">Accept this Invitation</button>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>  <!-- row div -->
  <% end %> <!-- slice 3 -->
<% end %> <!-- if current advisor/current client.... -->

<% if current_advisor %>
  <a href="/invitations/new"><h4>Create a New Invitation</h4></a>
<% end %>
</div>

<br><br><br><br>
