<% if @questionnaires.empty? %>
  <h3>Don't have any questionnaires?</h3>
  <p>No problem. Just clink on the link below to complete a questionnaire and get your first proposal.</p>
<% else %>
<h2 class="centered_text">Here are your Questionnaires</h2>
<br>
<% if current_client %>
  <a href='/questionnaires/new'><h3 class="centered_text">Fill out a Risk Questionnaire</h3></a>
<% end %>
<br>
<% @questionnaires.each_slice(3) do |questionnaire3| %>
  <div class="row">
    <% questionnaire3.each do |questionnaire| %>
      <div class="col-md-4 well">
        <div class="row">
          <div class="col-md-6">
            <p>Advisor: <%= Advisor.find_by(id: questionnaire.advisor_id).name %></p>
            <p>Company: <%= Advisor.find_by(id: questionnaire.advisor_id).company %></p>
            <p>Risk Score: <%= questionnaire.average.to_i %></p>
            <p>Completed: <%= (questionnaire.created_at).strftime("%b %d, %Y") %></p>
            <% if Proposal.find_by(questionnaire_id: questionnaire.id) %>
              <a href="/proposals/<%= Proposal.find_by(questionnaire_id: questionnaire.id).id %>">See your Proposal Here</a>
            <% end %>
          </div>
          <div class="col-md-6">
            <%= image_tag(Advisor.find_by(id: questionnaire.advisor_id).logo, :class => "advisor_logo") %>
          </div>
        </div>

      </div> <!-- Ends col-md-4 -->
    <% end %> <!-- Ends questionnairre3.each -->
  </div> <!-- Ends div row -->
<% end %> <!-- Ends slice(3) -->
<% end %>

<% if current_client %>
  <a href='/questionnaires/new'><h3 class="centered_text">Fill out a Risk Questionnaire</h3></a>
<% end %>
<br><br><br>