<h3>All the Proposals</h3>

<div class="container-fluid">
  
  <% @proposals.each_slice(3) do |proposal3| %>
    <div class="row">
      <% proposal3.each do |proposal| %>
        <div class="col-md-4 well">
          <a href='/proposals/<%= proposal.id %>'>View this Proposal</a>
          <p>Proposal ID:<%= proposal.id %></p>
          <p>Client ID:<%= proposal.client_id %></p>
          <p>Advisor ID:<%= proposal.advisor_id %></p>
          <p>Risk Model ID:<%= proposal.risk_model_id %></p>
          <p>Status:<%= proposal.status %></p>
        <% if current_advisor %>  
          <a href="/proposals/<%= proposal.id %>/edit">Edit/Delete this Proposal</a>
        <% end %>
        </div>
      <% end %> <!--Ends prop3.each -->
    </div> <!--Ends row div -->   
  <% end %> <!--Ends @proposals.each-->
</div>