<h3>Show me the Proposal</h3>

<p>Proposal ID:<%= @proposal.id %></p>
<p>Advisor ID:<%= @proposal.advisor_id %></p>
<p>Client ID:<%= @proposal.client_id %></p>
<p>Risk Model ID:<%= @proposal.risk_model_id %></p>
<p>Status:<%= @proposal.status %></p>

<%= link_to "View This Proposal as a PDF", format: :pdf %>