<h3>All the Risk Models</h3>

<% @risk_models.each do |risk_model| %>
  <p>Name: <%= risk_model.name %></p>
  <p>Risk_level: <%= risk_model.risk_level %></p>
  <p>Description: <%= risk_model.description %></p>
  <p>Stocks: %<%= risk_model.stocks %></p>
  <p>Bonds: %<%= risk_model.bonds %></p>
  <p>Companies: <%= risk_model.companies %></p>
  <p>Etfs: <%= risk_model.etfs %></p>
  <hr>
<% end %>

<div id="piechart" style="width: 900px; height: 500px;"></div>
<div id="piechart1" style="width: 900px; height: 500px;"></div>
<div id="piechart2" style="width: 900px; height: 500px;"></div>
<div id="piechart3" style="width: 900px; height: 500px;"></div>
<div id="piechart4" style="width: 900px; height: 500px;"></div>