<h3>Show me this Singular Risk Model</h3>

  <p>Name: <%= @risk_model.name %></p>
  <p>Risk_level: <%= @risk_model.risk_level %></p>
  <p>Description: <%= @risk_model.description %></p>
  <p>Allocations: <%= @risk_model.allocations %></p>
  <p>Companies: <%= @risk_model.companies %></p>
  <p>Etfs: <%= @risk_model.etfs %></p>
  
  <hr>
