<script type="text/javascript">
$(document).ready(function(){    
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script>

<h3>Show me this Singular Risk Model</h3>

  <p>Name: <%= @risk_model.name %></p>
  <p>Risk_level: <%= @risk_model.risk_level %></p>
  <p>Description: <%= @risk_model.description %></p>
  <p>Stocks: %<%= @risk_model.stocks %></p>
  <p>Bonds: %<%= @risk_model.bonds %></p>  
  <p>Companies: <%= @risk_model.companies %></p>
  <p>Etfs: <%= @risk_model.etfs %></p>
  
  <hr>

<div id="<%= @id_chart %>" style="width: 900px; height: 500px;"></div>