<% if current_advisor.id == @advisor.id %>
<%= form_tag("/advisors/#{@advisor.id}", method: "patch") do %>

  <label for="name">Name</label>
    <div>
      <input type="text" name="name" value="<%= @advisor.name %>">    
    </div>
  
  <label for="company">Company</label>
    <div>
      <input type="text" name="company" value="<%= @advisor.company %>">    
    </div>

  <label for="phone"> Phone </label>
    <div>
      <input type="text" name="phone" value="<%= @advisor.phone %>">    
    </div>

  <label for="email"> Email </label>
    <div>
      <input type="text" name="email" value="<%= @advisor.email %>">    
    </div>
  <label for="zip_code"> Zip Code </label>
    <div>
      <input type="text" name="zip_code" value="<%= @advisor.zip_code %>">    
    </div>
  <br>

  <label for="tags"> tags </label>
  <p>*** i.e. Renewable Energy, human rights, executive compensations...  ***</p>
    <div>
      <input type="text" name="tags" value="<%= @advisor.tags %>">    
    </div>
  <br>

  <label for="logo"> Logo </label>
    <div>
      <%= file_field_tag "logo" %>
      <!-- <input type="text" name="logo" value="<%= @advisor.logo %>">   -->  
    </div>
  <br>
    <div>
      <input type="submit" value="Edit this Advisor">
    </div>
<% end %>
<br><br>
<h4>Want to Delete Your Account?</h4>
<%= form_tag("/advisors/#{@advisor.id}", method: :delete, data: {confirm: "Are you sure you want to delete your account?"}) do %>
  <input type="submit" value="This will delete this Advisor">
<% end %>
<% end %>