<%= form_tag("/advisors/#{@advisor.id}", method: "patch") do %>

  <label for="name">Name</label>
    <div>
      <input type="text" name="name" value="<%= @advisor.name %>">    
    </div>
  
  <label for="company">Company</label>
    <div>
      <input type="text" name="company" value="<%= @advisor.company %>">    
    </div>

  <label for="phone"> phone </label>
    <div>
      <input type="text" name="phone" value="<%= @advisor.phone %>">    
    </div>

  <label for="email"> email </label>
    <div>
      <input type="text" name="email" value="<%= @advisor.email %>">    
    </div>

  <label for="logo"> Logo </label>
    <div>
      <%= file_field_tag "logo" %>
      <!-- <input type="text" name="logo" value="<%= @advisor.logo %>">   -->  
    </div>
<br>
    <div>
      <input type="submit" value="Edit this Advisor">
    </div>
<% end %>

<h4>Want to Delete this Advisor?</h4>
<%= form_tag "/advisors/#{@advisor.id}", method: :delete do %>
  <input type="submit" value="This will delete this Advisor">
<% end %>