<div class="container-fluid">
<h2 class="centered_text">Hello <%= current_client.name %>!</h2>

<% if @client_advisors.empty? %>
  <h3>Thank you for joining EthiCapital!</h3>
  <br>
  <h4>Getting Started:</h4>
  <br>
  <h5>Don't have an Advisor?</h5>
  <p>You can search through our advisors in the search in the top right.</p>
  <p>You can contact an advisor that looks good to you by their listed email.</p>
  <p>If you want to do business with them just send them your EthiCapital ID.</p>
  <p>Your EthiCapital Id is: <%= current_client.id %></p>
  <br>
  <h5>Have an Advisor in EthiCapital?</h5>
  <p>Send them your EthiCapital ID (<%= current_client.id %>) and they will send you an invitaion.</p>
  <br>
  <h5>Have an Advisor whose not signed up with EthiCapital?</h5>
  <p>Invite them to sign up by sending them our web address: <a href="#">www.ethicapital.io</a></p>
  <p>Once they're signed up, just send them your EthiCapital ID: <%= current_client.id %></p>
  <br>
<% else %>

<h3 class="centered_text">Here are your Advisors</h3>
<hr>
  <% @client_advisors.each_slice(3) do |advisor3| %>
    <div class="row">
      <% advisor3.each do |advisor| %>
        <div class="col-md-4 well">
          <div><%= image_tag(advisor.logo, :class => "advisor_logo") %></div>
          <br>
          <p><span class="advisor_email_hover"><%= advisor.name %></span> from <span class="advisor_email_hover"><%= advisor.company %></span></p>
          <p>Phone: <span class="advisor_email_hover"><%= advisor.phone %></span></p> 
          <p>Email: <span class="advisor_email_hover"><%= advisor.email %></span></p>
          <p>Areas of Expertise: <span class="advisor_email_hover"><%= advisor.tags %></span></p>
          <h5>Invitation: <%= @invitation.where(advisor_id: advisor.id)[0].status.capitalize %></h5>
          <a href="advisors/<%= advisor.id %>">View this Advisor</a>
          <br>
         
          <% if @invitation.where(advisor_id: advisor.id)[0].status == "pending" %>
            <%= form_tag("/invitations/#{@invitation.where(advisor_id: advisor.id)[0].id}", method: "patch") do %>
              <div class="hidden">
                <input type="text" name="advisor_id" value="<%= @invitation.where(advisor_id: advisor.id)[0].advisor_id %>">
                <input type="text" name="client_id" value="<%= @invitation.where(advisor_id: advisor.id)[0].client_id %>">
              </div>
              <div>
                <button type="submit"><input class="hidden" type="text" name="status" value="accepted">Accept this Invitation</button>
              </div>
            <% end %>
            <br>   
          <% end %>     
          <br>

          <%= form_tag("/invitations/#{@invitation.where(advisor_id: advisor.id)[0].id}", method: "delete", data: {confirm: "Are you sure you want to delete this advisor?"}) do %>
            <button type="submit">Remove this Advisor</button>
          <% end %>
          
          <br>
       





        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>