<div class="container-fluid">
<h3>Advisors</h3>
<hr>
  <% @client_advisors.each_slice(3) do |advisor3| %>
    <div class="row">
      <% advisor3.each do |advisor| %>
        <div class="col-md-4 well">
          <p>ID: <%= advisor.id %></p>
          <p><%= advisor.name %> from <%= advisor.company %></p>
          <p>Phone: <%= advisor.phone %></p> 
          <p>email: <%= advisor.email %></p>
          <br>
         
          <% if @invitation.where(advisor_id: advisor.id)[0].status == "pending" %>
            <%= form_tag("/invitations/#{@invitation.where(advisor_id: advisor.id)[0].id}", method: "patch") do %>
              <div class="hidden">
                <input type="text" name="advisor_id" value="<%= @invitation.where(advisor_id: advisor.id)[0].advisor_id %>">
                <input type="text" name="client_id" value="<%= @invitation.where(advisor_id: advisor.id)[0].client_id %>">
              </div>
              <div>
                <button type="submit"><input class="hidden" type="text" name="status" value="accepted">Accept this Invitation</button>
              </div>
            <% end %>
          <% end %>     
         
          <br>
          <a href="/advisors/<%= advisor.id %>/edit">Edit/Delete this Advisor</a>
          <div class="advisor_logo"><%= image_tag(advisor.logo) %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>