<%= form_tag("/advisors", enctype: "multipart/form-data", method: "post") do %>
  <label for="name"> Name </label>
  <div>
      <input type="text" name="name" value="<%= @advisor.name %>">    
    </div>
  
  <label for="company"> Company </label>
    <div>
      <input type="text" name="company" value="<%= @advisor.company %>">    
    </div>

  <label for="phone"> phone </label>
    <div>
      <input type="text" name="phone" value="<%= @advisor.phone %>">    
    </div>

  <label for="email"> email </label>
    <div>
      <input type="email" name="email" id="test_em" value="<%= @advisor.email %>">    
    </div>

  <label for="zip_code"> zip code </label>
    <div>
      <input type="text" name="zip_code" value="<%= @advisor.zip_code %>">    
    </div>  
  <div>  
  <br>
    <%= label_tag(:logo) %>
      <%= file_field_tag(:logo) %>
  </div>
  <br>
  <label for="password"> Password </label>
    <div>
      <input id="password_field" type="password" name="password"> 
    </div>
  <label for="password_confirmation"> Confirm Password </label>
    <div id="confirmation_field">
      <input type="password" name="password_confirmation"> 
    </div>
  <br>
    <div>
      <input type="submit" value="Create an Advisor Account">
    </div>
<% end %>