 <div class="ms-hero-page-override ms-hero-img-coffee ms-bg-fixed ms-hero-bg-primary">
        <div class="container">
          <div class="text-center mt-2">
            <img src="<%= @advisor.logo %>" alt="..." class="ms-avatar-hero animated zoomIn animation-delay-7">
            <h1 class="color-white mt-4 animated fadeInUp animation-delay-10"><%= @advisor.name %></h1>
            <h3 class="color-medium no-mb animated fadeInUp animation-delay-10"><%= @advisor.email %></h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card card-hero card-primary animated fadeInUp animation-delay-7">
          <div class="card-header-100 bg-primary-dark">
            <div class="row">
              <div class="col-sm-2 col-xs-4 col-sm-offset-3">
                <div class="item">
                  <span><%= Invitation.where(advisor_id: @advisor.id).where(status: "pending").count %></span>Pending Invitations </div>
              </div>
              <div class="col-sm-2 col-xs-4">
                <div class="item">
                  <span><%= Proposal.where(advisor_id: @advisor.id).where(status: "pending").count %></span>Pending Proposals </div>
              </div>
              <div class="col-sm-2 col-xs-4">
                <div class="item">
                  <span><%= Proposal.where(advisor_id: @advisor.id).where(status: "signed").count %></span>Signed Proposals </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card-block">
                <h2 class="color-primary no-mb">Personal Information</h2>
              </div>
              <table class="table table-no-border table-striped">
             
                  <a href="/advisors/<%= @advisor.id %>/edit">Edit Your Information</a>
                
                  <th>
                    <i class="zmdi zmdi-face mr-1 color-warning"></i> Fullname</th>
                  <td><%= @advisor.name %></td>
                </tr>
                <tr>
                  <th>
                    <i class="zmdi zmdi-email mr-1 color-primary"></i> Email</th>
                  <td><%= @advisor.email %></td>
                </tr>
                <tr>
                  <th>
                    <i class="zmdi zmdi-link mr-1 color-danger"></i> Total Clients</th>
                  <td><%= @total_clients %></td>
                </tr>
                <tr>
                  <th>
                    <i class="zmdi zmdi-link mr-1 color-danger"></i> Phone</th>
                  <td><%= @advisor.phone %></td>
                </tr>
                <tr>
                  <th>
                    <i class="zmdi zmdi-calendar mr-1 color-info"></i> Member Since</th>
                  <td><%= (@advisor.created_at).strftime("%m/%d/%Y") %></td>
                </tr>
              </table>
            </div>
            <div class="col-md-4">
              <div class="card-block">
                <h2>Want All Your Clients?</h2>
                <h4>Click <a href="/clients">here</a></h4>
                <br>
                <h2>Your Proposals?</h2>
                <h4>Click <a href="/proposals">here</a></h4>
                <div class="media mb-3 hidden">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="holder.js/64x64?theme=social"> </a>
                  </div>
                  <div class="media-body">
                    <h4 class="no-m">
                      <a href="#">Lorem ipsum dolor sit</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="media mb-3 hidden">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="holder.js/64x64?theme=lava"> </a>
                  </div>
                  <div class="media-body">
                    <h4 class="no-m">
                      <a href="#">Lorem ipsum dolor sit</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="media mb-3 hidden">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="holder.js/64x64?theme=sky"> </a>
                  </div>
                  <div class="media-body">
                    <h4 class="no-m">
                      <a href="#">Lorem ipsum dolor sit</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-block">
                <h2 class="color-primary">Clients</h2>
                <div class="ms-media-list">
                 
              <% if @client1 %>
                  <div class="media">
                    <div class="media-left media-middle">
                      <a href="#">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading color-warning"><%= @client1.name %></h4>
                      <a href="/clients/<%= @client1.id %>"><%= @client1.email %></a>
                      <div class="">
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook">
                          <i class="zmdi zmdi-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter">
                          <i class="zmdi zmdi-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram">
                          <i class="zmdi zmdi-instagram"></i>
                        </a>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @client2 %>
                  <div class="media">
                    <div class="media-left media-middle">
                      <a href="#">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading color-warning"><%= @client2.name %></h4>
                      <a href="/clients/<%= @client2.id %>"><%= @client2.email %></a>
                      <div class="">
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook">
                          <i class="zmdi zmdi-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter">
                          <i class="zmdi zmdi-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram">
                          <i class="zmdi zmdi-instagram"></i>
                        </a>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @client3 %> 
                  <div class="media">
                    <div class="media-left media-middle">
                      <a href="#">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading color-warning"><%= @client3.name %></h4>
                      <a href="/clients/<%= @client3.id %>"><%= @client3.email %></a>
                      <div class="">
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook">
                          <i class="zmdi zmdi-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter">
                          <i class="zmdi zmdi-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram">
                          <i class="zmdi zmdi-instagram"></i>
                        </a>
                      </div>
                    </div>
                  </div>
              <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container -->